doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet" href= style type="text/css")
        link(rel="stylesheet" href= font type="text/css")
        link(rel="icon" href= favicon type="image/png")
        body
            block content
            
            